<ul class="container-hc" style="padding-left:0px">
  <li class="item">
    <a (click)="openModal(1);currentSlide(21,1)" class="hover-shadow" title="21">
      <video muted alt="21" style="height:150px; width:250px">
        <source [src]="media.url('Wheatley1.mp4')" type="video/mp4" />
      </video>
    </a>
  </li>
  <li class="item">
    <a (click)="openModal(1);currentSlide(22,1)" class="hover-shadow" title="22">
      <video muted alt="22" style="height:150px; width:250px">
        <source [src]="media.url('Wheatley2.mp4')" type="video/mp4" />
      </video>
    </a>
  </li>
  <li class="item">
    <a (click)="openModal(1);currentSlide(23,1)" class="hover-shadow" title="23">
      <video muted alt="23" style="height:150px; width:250px">
        <source [src]="media.url('Logsdon1.mp4')" type="video/mp4" />
      </video>
    </a>
  </li>
  <li class="item">
    <a (click)="openModal(1);currentSlide(24,1)" class="hover-shadow" title="24">
      <video muted alt="24" style="height:150px; width:250px">
        <source [src]="media.url('Logsdon2.mp4')" type="video/mp4" />
      </video>
    </a>
  </li>
  <li class="item">
    <a (click)="openModal(1);currentSlide(25,1)" class="hover-shadow" title="25">
      <video muted alt="25" style="height:150px; width:250px">
        <source [src]="media.url('Logsdon3.mp4')" type="video/mp4" />
      </video>
    </a>
  </li>
  <li class="item"><a (click)="openModal(1);currentSlide(1,1)" class="hover-shadow" title="01"><img [src]="media.url('RadianceParty.JPEG')" alt="01" style="height:150px; width:250px"></a></li>
  <li class="item"><a (click)="openModal(1);currentSlide(2,1)" class="hover-shadow" title="02"><img [src]="media.url('MyersReception.JPG')" alt="02" style="height:150px; width:250px"></a></li>
  <li class="item"><a (click)="openModal(1);currentSlide(3,1)" class="hover-shadow" title="03"><img [src]="media.url('UrsineWedding1.jpeg')" alt="03" style="height:150px; width:250px"></a></li>
  <li class="item">
    <a (click)="openModal(1);currentSlide(4,1)" class="hover-shadow" title="04">
      <video muted alt="04" style="height:150px; width:250px">
        <source [src]="media.url('LofreddoWedding.MP4')" type="video/mp4" />
      </video>
    </a>
  </li>
  <li class="item"><a (click)="openModal(1);currentSlide(5,1)" class="hover-shadow" title="05"><img [src]="media.url('ReevesWedding3.JPG')" alt="05" style="height:150px; width:250px"></a></li>
  <li class="item"><a (click)="openModal(1);currentSlide(6,1)" class="hover-shadow" title="06"><img [src]="media.url('LofreddoWedding1.JPEG')" alt="06" style="height:150px; width:250px"></a></li>
  <li class="item"><a (click)="openModal(1);currentSlide(7,1)" class="hover-shadow" title="07"><img [src]="media.url('WheatleyWedding.jpeg')" alt="07" style="height:150px; width:250px"></a></li>
  <li class="item">
    <a (click)="openModal(1);currentSlide(8,1)" class="hover-shadow" title="08">
      <video muted alt="08" style="height:150px; width:250px">
        <source [src]="media.url('UrsineWedding.mp4')" type="video/mp4" />
      </video>
    </a>
  </li>
  <li class="item"><a (click)="openModal(1);currentSlide(9,1)" class="hover-shadow" title="09"><img [src]="media.url('ReevesWedding3.JPG')" alt="08" style="height:150px; width:250px"></a></li>
  <li class="item">
    <a (click)="openModal(1);currentSlide(10,1)" class="hover-shadow" title="10">
      <video muted alt="10" style="height:150px; width:250px">
        <source [src]="media.url('ReevesWedding2.MP4')" type="video/mp4" />
      </video>
    </a>
  </li>
  <li class="item"><a (click)="openModal(1);currentSlide(11,1)" class="hover-shadow" title="11"><img [src]="media.url('LofreddoWedding2.JPEG')" alt="11" style="height:150px; width:250px" /></a></li>
  <li class="item"><a (click)="openModal(1);currentSlide(12,1)" class="hover-shadow" title="12"><img [src]="media.url('UrsineWedding3.jpeg')" alt="12" style="height:150px; width:250px" /></a></li>
  <li class="item"><a (click)="openModal(1);currentSlide(13,1)" class="hover-shadow" title="13"><img [src]="media.url('LBCC_DryRiver.jpg')" alt="13" style="height:150px; width:250px"></a></li>
  <li class="item">
    <a (click)="openModal(1);currentSlide(14,1)" class="hover-shadow" title="14">
      <video muted alt="14" style="height:150px; width:250px">
        <source [src]="media.url('GasolinaWedding.mp4')" type="video/mp4" />
      </video>
    </a>
  </li>
  <li class="item"><a (click)="openModal(1);currentSlide(15,1)" class="hover-shadow" title="15"><img [src]="media.url('MeUrsineWedding.JPG')" alt="15" style="height:150px; width:190px"></a></li>
  <li class="item"><a (click)="openModal(1);currentSlide(16,1)" class="hover-shadow" title="16"><img [src]="media.url('ReevesWedding4.JPG')" alt="16" style="height:150px; width:150px"></a></li>
  <li class="item"><a (click)="openModal(1);currentSlide(17,1)" class="hover-shadow" title="17"><img [src]="media.url('RadianceParty2.jpeg')" alt="17" style="height:150px; width:150px"></a></li>
  <li class="item">
    <a (click)="openModal(1);currentSlide(18,1)" class="hover-shadow" title="18">
      <video muted alt="18" style="height:150px; width:250px">
        <source [src]="media.url('LBCC_DryRiver.mp4')" type="video/mp4" />
      </video>
    </a>
  </li>
  <li class="item"><a (click)="openModal(1);currentSlide(19,1)" class="hover-shadow" title="19"><img [src]="media.url('IMG_6369.JPG')" alt="19" style="height:150px; width:250px"></a></li>
  <li class="item">
    <a (click)="openModal(1);currentSlide(20,1)" class="hover-shadow" title="20">
      <video muted alt="20" style="height:150px; width:250px">
        <source [src]="media.url('McCrackin1.mp4')" type="video/mp4" />
      </video>
    </a>
  </li>
  <li class="item">
    <a (click)="openModal(1);currentSlide(21,1)" class="hover-shadow" title="21">
      <video muted alt="21" style="height:150px; width:250px">
        <source [src]="media.url('Wheatley1.mp4')" type="video/mp4" />
      </video>
    </a>
  </li>
  <li class="item">
    <a (click)="openModal(1);currentSlide(22,1)" class="hover-shadow" title="22">
      <video muted alt="22" style="height:150px; width:250px">
        <source [src]="media.url('Wheatley2.mp4')" type="video/mp4" />
      </video>
    </a>
  </li>
</ul>
<!-- The Modal/Lightbox -->
<div id="myModal1" class="modal">
  <p class="close cursor" (click)="closeModal(1)" style="line-height:20px">&times;</p>
  <div class="modal-content">
    <div class="mySlides1">
      <div class="numbertext">1 /25 </div>
      <img [src]="media.url('RadianceParty.JPEG')" style="width:100%">
    </div>
    <div class="mySlides1">
      <div class="numbertext">2 /25 </div>
      <img [src]="media.url('MyersReception.JPG')" style="width:100%">
    </div>
    <div class="mySlides1">
      <div class="numbertext">3 /25 </div>
      <img [src]="media.url('UrsineWedding1.jpeg')" style="width:100%">
    </div>
    <div class="mySlides1">
      <div class="numbertext">4 /25 </div>
      <video controls="controls" autoplay muted width="700px">
        <source [src]="media.url('LofreddoWedding.MP4')" type="video/mp4" />
      </video>
    </div>
    <div class="mySlides1">
      <div class="numbertext">5 /25 </div>
      <img [src]="media.url('ReevesWedding3.JPG')" style="width:100%">
    </div>
    <div class="mySlides1">
      <div class="numbertext">6 /25 </div>
      <img [src]="media.url('LofreddoWedding1.JPEG')" style="width:100%">
    </div>
    <div class="mySlides1">
      <div class="numbertext">7 /25 </div>
      <img [src]="media.url('WheatleyWedding.jpeg')" style="width:100%">
    </div>
    <div class="mySlides1">
      <div class="numbertext">8 /25 </div>
      <video controls="controls" autoplay muted width="700px">
        <source [src]="media.url('UrsineWedding.mp4')" type="video/mp4" />
      </video>
    </div>
    <div class="mySlides1">
      <div class="numbertext">9 /25 </div>
      <img [src]="media.url('ReevesWedding3.JPG')" style="width:100%">
    </div>
    <div class="mySlides1">
      <div class="numbertext">10 /25 </div>
      <video controls="controls" loop autoplay muted width="700px">
        <source [src]="media.url('ReevesWedding2.MP4')" type="video/MP4" />
      </video>
    </div>
    <div class="mySlides1">
      <div class="numbertext">11 /25 </div>
      <img [src]="media.url('LofreddoWedding2.JPEG')" />
    </div>
    <div class="mySlides1">
      <div class="numbertext">12 /25 </div>
      <img [src]="media.url('UrsineWedding3.jpeg')" />
    </div>
    <div class="mySlides1">
      <div class="numbertext">13 /25 </div>
      <img [src]="media.url('LBCC_DryRiver.jpg')" />
    </div>
    <div class="mySlides1">
      <div class="numbertext">14 /25 </div>
      <video controls="controls" loop autoplay muted width="700px">
        <source [src]="media.url('GasolinaWedding.mp4')" type="video/MP4" />
      </video>
    </div>
    <div class="mySlides1">
      <div class="numbertext">15 /25 </div>
      <img [src]="media.url('MeUrsineWedding.JPG')" />
    </div>
    <div class="mySlides1">
      <div class="numbertext">16 /25 </div>
      <img [src]="media.url('ReevesWedding4.JPG')" />
    </div>
    <div class="mySlides1">
      <div class="numbertext">17 /25 </div>
      <img [src]="media.url('RadianceParty2.jpeg')" />
    </div>
    <div class="mySlides1">
      <div class="numbertext">18 /25 </div>
      <video controls="controls" loop autoplay muted width="700px">
        <source [src]="media.url('LBCC_DryRiver.mp4')" type="video/mp4" />
      </video>
    </div>
    <div class="mySlides1">
      <div class="numbertext">19 /25 </div>
      <img [src]="media.url('IMG_6369.JPG')" />
    </div>
    <div class="mySlides1">
      <div class="numbertext">20 /25 </div>
      <video controls="controls" loop autoplay muted width="700px">
        <source [src]="media.url('McCrackin1.mp4')" type="video/mp4" />
      </video>
    </div>
    <div class="mySlides1">
      <div class="numbertext">21 /25 </div>
      <video controls="controls" loop autoplay muted width="700px">
        <source [src]="media.url('Wheatley1.mp4')" type="video/mp4" />
      </video>
    </div>
    <div class="mySlides1">
      <div class="numbertext">22 /25 </div>
      <video controls="controls" loop autoplay muted width="700px">
        <source [src]="media.url('Wheatley2.mp4')" type="video/mp4" />
      </video>
    </div>
    <div class="mySlides1">
      <div class="numbertext">23 /25 </div>
      <video controls="controls" loop autoplay muted width="700px">
        <source [src]="media.url('Logsdon1.mp4')" type="video/mp4" />
      </video>
    </div>
    <div class="mySlides1">
      <div class="numbertext">24 /25 </div>
      <video controls="controls" loop autoplay muted width="700px">
        <source [src]="media.url('Logsdon2.mp4')" type="video/mp4" />
      </video>
    </div>
    <div class="mySlides1">
      <div class="numbertext">25 /25 </div>
      <video controls="controls" loop autoplay muted width="700px">
        <source [src]="media.url('Logsdon3.mp4')" type="video/mp4" />
      </video>
    </div>
    <!-- Next/previous controls -->
    <a class="prev" (click)="plusSlides(-1,1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1,1)">&#10095;</a>
    <!-- Caption text -->
    <!-- <div class="caption-container">
      <p id="caption"></p>
    </div> -->
  </div>
</div>
