<ul class="container-hc" style="padding-left:0px">
 <!-- ...existing thumbnail list unchanged... -->
</ul>
<!-- The Modal/Lightbox -->
<div id="myModal1" class="modal">
 <p class="close cursor" (click)="closeModal(1)" style="line-height:20px">&times;</p>
 <div class="modal-content">
     <div class="mySlides1">
         <div class="numbertext">1 /25 </div>
         <img [src]="media.url('RadianceParty.JPEG')" style="width:100%">
     </div>
     <div class="mySlides1">
         <div class="numbertext">2 /25 </div>
         <img [src]="media.url('MyersReception.JPG')" style="width:100%">
     </div>
     <div class="mySlides1">
         <div class="numbertext">3 /25 </div>
         <img [src]="media.url('UrsineWedding1.jpeg')" style="width:100%">
     </div>
     <div class="mySlides1">
         <div class="numbertext">4 /25 </div>
         <video controls muted loop playsinline crossorigin="anonymous" preload="metadata" style="width:100%" [poster]="media.url('LofreddoWedding.MP4', true)">
             <source [src]="media.url('LofreddoWedding.MP4')" type="video/mp4" />
             Your browser does not support the video tag.
         </video>
     </div>
     <div class="mySlides1">
         <div class="numbertext">5 /25 </div>
         <img [src]="media.url('ReevesWedding3.JPG')" style="width:100%">
     </div>
     <div class="mySlides1">
         <div class="numbertext">6 /25 </div>
         <img [src]="media.url('LofreddoWedding1.JPEG')" style="width:100%">
     </div>
     <div class="mySlides1">
         <div class="numbertext">7 /25 </div>
         <img [src]="media.url('WheatleyWedding.jpeg')" style="width:100%">
     </div>
     <div class="mySlides1">
         <div class="numbertext">8 /25 </div>
         <video controls muted loop playsinline crossorigin="anonymous" preload="metadata" style="width:100%" [poster]="media.url('UrsineWedding.mp4', true)">
             <source [src]="media.url('UrsineWedding.mp4')" type="video/mp4" />
             Your browser does not support the video tag.
         </video>
     </div>
     <div class="mySlides1">
         <div class="numbertext">9 /25 </div>
         <img [src]="media.url('ReevesWedding3.JPG')" style="width:100%">
     </div>
     <div class="mySlides1">
         <div class="numbertext">10 /25 </div>
         <video controls muted loop playsinline crossorigin="anonymous" preload="metadata" style="width:100%" [poster]="media.url('ReevesWedding2.MP4', true)">
             <source [src]="media.url('ReevesWedding2.MP4')" type="video/mp4" />
             Your browser does not support the video tag.
         </video>
     </div>
     <div class="mySlides1">
         <div class="numbertext">11 /25 </div>
         <img [src]="media.url('LofreddoWedding2.JPEG')" />
     </div>
     <div class="mySlides1">
         <div class="numbertext">12 /25 </div>
         <img [src]="media.url('UrsineWedding3.jpeg')" />
     </div>
     <div class="mySlides1">
         <div class="numbertext">13 /25 </div>
         <img [src]="media.url('LBCC_DryRiver.jpg')" />
     </div>
     <div class="mySlides1">
         <div class="numbertext">14 /25 </div>
         <video controls muted loop playsinline crossorigin="anonymous" preload="metadata" style="width:100%" [poster]="media.url('GasolinaWedding.mp4', true)">
             <source [src]="media.url('GasolinaWedding.mp4')" type="video/mp4" />
             Your browser does not support the video tag.
         </video>
     </div>
     <div class="mySlides1">
         <div class="numbertext">15 /25 </div>
         <img [src]="media.url('MeUrsineWedding.JPG')" />
     </div>
     <div class="mySlides1">
         <div class="numbertext">16 /25 </div>
         <img [src]="media.url('ReevesWedding4.JPG')" />
     </div>
     <div class="mySlides1">
         <div class="numbertext">17 /25 </div>
         <img [src]="media.url('RadianceParty2.jpeg')" />
     </div>
     <div class="mySlides1">
         <div class="numbertext">18 /25 </div>
         <video controls muted loop playsinline crossorigin="anonymous" preload="metadata" style="width:100%" [poster]="media.url('LBCC_DryRiver2.mp4', true)">
             <source [src]="media.url('LBCC_DryRiver2.mp4')" type="video/mp4" />
             Your browser does not support the video tag.
         </video>
     </div>
     <div class="mySlides1">
         <div class="numbertext">19 /25 </div>
         <img [src]="media.url('IMG_6369.JPG')" />
     </div>
     <div class="mySlides1">
         <div class="numbertext">20 /25 </div>
         <video controls muted loop playsinline crossorigin="anonymous" preload="metadata" style="width:100%" [poster]="media.url('McCrackin1.mp4', true)">
             <source [src]="media.url('McCrackin1.mp4')" type="video/mp4" />
             Your browser does not support the video tag.
         </video>
     </div>
     <div class="mySlides1">
         <div class="numbertext">21 /25 </div>
         <video controls muted loop playsinline crossorigin="anonymous" preload="metadata" style="width:100%" [poster]="media.url('Wheatley1.mp4', true)">
             <source [src]="media.url('Wheatley1.mp4')" type="video/mp4" />
             Your browser does not support the video tag.
         </video>
     </div>
     <div class="mySlides1">
         <div class="numbertext">22 /25 </div>
         <video controls muted loop playsinline crossorigin="anonymous" preload="metadata" style="width:100%" [poster]="media.url('Wheatley2.mp4', true)">
             <source [src]="media.url('Wheatley2.mp4')" type="video/mp4" />
             Your browser does not support the video tag.
         </video>
     </div>
     <div class="mySlides1">
         <div class="numbertext">23 /25 </div>
         <video controls muted loop playsinline crossorigin="anonymous" preload="metadata" style="width:100%" [poster]="media.url('Logsdon1.mp4', true)">
             <source [src]="media.url('Logsdon1.mp4')" type="video/mp4" />
             Your browser does not support the video tag.
         </video>
     </div>
     <div class="mySlides1">
         <div class="numbertext">24 /25 </div>
         <video controls muted loop playsinline crossorigin="anonymous" preload="metadata" style="width:100%" [poster]="media.url('Logsdon2.mp4', true)">
             <source [src]="media.url('Logsdon2.mp4')" type="video/mp4" />
             Your browser does not support the video tag.
         </video>
     </div>
     <div class="mySlides1">
         <div class="numbertext">25 /25 </div>
         <video controls muted loop playsinline crossorigin="anonymous" preload="metadata" style="width:100%" [poster]="media.url('Logsdon3.mp4', true)">
             <source [src]="media.url('Logsdon3.mp4')" type="video/mp4" />
             Your browser does not support the video tag.
         </video>
     </div>
     <!-- Next/previous controls -->
     <a class="prev" (click)="plusSlides(-1,1)">&#10094;</a>
     <!--<a class="next" (click)="plusSlides(1,1)">&#10095;</a>
    <!-- Caption text -->
     <!-- <div class="caption-container">
    <p id="caption"></p>
    </div> -->
 </div>
</div>
