.modal {
  display: none; /* Hide modal by default */
  position: fixed;
  z-index: 1000;
  left: 0; top: 0; width: 100%; height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

/*.modal-content {
  margin: 5% auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.mySlides1,
.mySlides2 {
  display: none;*/ /* Hide all slides by default */
/*}*/




