<ul class="container-hc" style="padding-left:0px; padding-top:0px; margin-top:20px; margin-bottom:10px">
  <li class="item"><a (click)="openModal(1);currentSlide(1,1)" class="hover-shadow" title="01"><img [src]="media.url('RadianceParty.JPEG', true)" alt="01" style="height: 150px; width: 250px"></a></li>
  <li class="item"><a (click)="openModal(1);currentSlide(2,1)" class="hover-shadow" title="02"><img [src]="media.url('MyersReception.JPG', true)" alt="02" style="height: 150px; width: 250px"></a></li>
  <li class="item"><a (click)="openModal(1);currentSlide(3,1)" class="hover-shadow" title="03"><img [src]="media.url('UrsineWedding1.jpeg', true)" alt="03" style="height: 150px; width: 250px"></a></li>
  <li class="item"><a (click)="openModal(1);currentSlide(4,1)" class="hover-shadow" title="04"><img [src]="media.url('ReevesWedding1.JPEG', true)" alt="04" style="height: 150px; width: 250px"></a></li>
  <li class="item"><a (click)="openModal(1);currentSlide(5,1)" class="hover-shadow" title="05"><img [src]="media.url('LofreddoWedding1.JPEG', true)" alt="05" style="height: 150px; width: 250px"></a></li>
</ul>
<!-- The Modal/Lightbox -->
<div id="myModal1" class="modal" style="navbar navbar-expand-sm">
  <p class="close cursor" (click)="closeModal(1)" style="line-height:20px">&times;</p>
  <div class="modal-content">
    <div class="mySlides1">
      <div class="numbertext">1/5</div>
      <img [src]="media.url('RadianceParty.JPEG')" style="width:100%">
    </div>
    <div class="mySlides1">
      <div class="numbertext">2/5</div>
      <img [src]="media.url('MyersReception.JPG')" style="width:100%">
    </div>
    <div class="mySlides1">
      <div class="numbertext">3/5</div>
      <img [src]="media.url('UrsineWedding1.jpeg')" style="width:100%">
    </div>
    <div class="mySlides1">
      <div class="numbertext">4/5</div>
      <img [src]="media.url('ReevesWedding1.JPEG')" style="width:100%">
    </div>
    <div class="mySlides1">
      <div class="numbertext">5/5</div>
      <img [src]="media.url('LofreddoWedding1.JPEG')" style="width:100%">
    </div>
    <!-- Next/previous controls -->
    <a class="prev" (click)="plusSlides(-1,1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1,1)">&#10095;</a>
    <!-- Caption text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <h1 class="section-title">DJ Packages</h1>
  <h2 class="section-heading">We have <u>3 system sizes</u> for DJ packages</h2>
  <h3 class="section-subheading">Contact us for a custom quote at your location/venue</h3>
  <h5 class="disclaimer-text">(Our quotes are based on your location but our base rates are the lowest around)</h5>
  <ul class="packages-list">
    <li><h5>Our SMALL system will serve 100-150 people</h5></li>
    <li><h5>Our MEDIUM system will serve 200-250 people</h5></li>
    <li>
      <h5>
        Our LARGE system is <u>LARGE</u>. It will serve a 1 ACRE FIELD<br />
        (This sytem is available for large scale events, see our Pro Sound page)
      </h5>
    </li>
  </ul>
  <h5 class="description-text">
    You pick the music we play at your event.
    Fill a song list on Spotify or Tidal and we will bring those songs to your event!!!!<br>
    (Purchase our dance floor package and we script the lights to your songs!!)<br><br>
    We also bring two wireless microphones to the event that your party can use to roast and toast the newlyweds with all night long.<br>
  </h5>
  <br /><br />
  <h2 class="section-title">Dance Floor Lighting</h2>
  <h4 class="section-content">
    Our Dance Floor Lighting is a cut above the rest.<br />
    We use integrated software to run our dance floor lights from scripts!!<br />
    Our lights pulse, transition, chase and strobe to each and every song. <br />
    We can bring in as many as 24 different lighting fixtures<br />
    to create a stunning visual experience.<br />
    Your dance floor will look like a headline concert or a high-end dance club!!<br />
    We have a variety of lighting packages that will fit any budget.<br />
    We can bring lighting truss and tripods to raise the lighting as high as 10 feet<br />
    We also have 5 foot vertical 'totems' for venues with shorter ceilings.<br />
    We can bring a smoke machine for entrance effects!! (Check with your venue first)<br />
    The smoke machine also enhances the laser fixtures we have!!
  </h4>
  <div class="video-container">
    <video controls="controls" autoplay [muted]="true" playsinline loop preload="auto" class="responsive-video">
      <source [src]="media.url('LightingSample.mp4')" type="video/mp4" />
    </video>
  </div>

  <h3 class="pricing-highlight">We have packages from $200 all the way to our $700 Ultimate Package</h3>
  <h2 class="section-title">Accent/Uplighting</h2>
  <h4 class="section-content">
    We have 8 battery powered LED 'PAR' lights that can <br />
    place anywhere in your venue, no wires to trip over.<br />
    Being battery powered we do not have to run wires to them.<br />
    They can even be used for area lighting outdoors.
  </h4>
  <h3 class="pricing-highlight">Our Accent/Uplighting Package is $200</h3>
  <h4 class="note-text">We can also quote you a-la-carte pricing on lights. Contact us for details</h4>
</div>
