<div style="min-height:100vh">
  <div>
    <h1 style="text-decoration:underline; color:yellow; font-weight:bolder; text-align:center; margin-bottom:15px">Professional Sound</h1>
    <h4 style="text-align:center"><b><u>LET US BRING</u></b> the system for your next <b><u>BIG EVENT!!!</u></b></h4>
    <h4 style="text-align:center">We offer services for live sound for any venue, large or small, indoors or out</h4>
    <h4 style="text-align:center; text-decoration:underline; font-weight:bold">We can cover more than an acre outdoors WITH EASE</h4>
    <h4 style="text-align:center">And still be heard 1/4 of a mile away BEHIND the stage</h4>
    <h2 style="text-align:center; color:yellow; font-weight:bold; text-decoration:underline; margin-top:20px">What we can bring to your event</h2>
    <div style="text-align:left; padding-left:175px">
      <ul>
        <li><h4 style="text-align:left">18-Channels of stage input</h4></li>
        <li><h4 style="text-align:left">An inventory of Shure Beta mics Including</h4></li>
        <ul>
          <li><h4 style="text-align:left">87A wireless mics for vocalist</h4></li>
          <li><h4 style="text-align:left">52A and 56A drum mics</h4></li>
          <li><h4 style="text-align:left">Wired 57A and 58A mics</h4></li>
        </ul>
        <li><h4 style="text-align:left">4-channels of In-Ear-Monitors and 6 bodypacks</h4></li>
        <li><h4 style="text-align:left">A total of 8 monitor mixes available</h4></li>
      </ul>
    </div>
    <h4 style="text-align:center">We can fly our arrays from your scaffolding our ours</h4>
    <h4 style="text-align:center">We can even supply the <u><b>lighting</b></u> for your big event</h4>
    <h4 style="text-align:center">We have a large inventory of lights running on AI Software</h4>
    <h4 style="text-align:center">keeping the lights in sync to the music in real time</h4>
  </div>
  <div>
    <h2 style="text-align:center; font-weight:bold; text-decoration:underline; color:yellow">We will beat anyone's price, call us and see!!</h2>
  </div>
</div>
