/* You can add global styles to this file, and also import other style files */
html {
  font-size: 14px;
  /* background-color: black; */
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color: white;
  /* background-color: black; */
  background-color: rgb(0,0,0);
  background-image: url("/assets/images/black_abstract_stone_pattern_tileable.jpg");
  background-position: top left;
  background-repeat: repeat;
  background-attachment: fixed;
}

header {
}

p {
  font-size: 26px;
}
/* The same layout with floats ► https://codepen.io/Rafiozoo/pen/BYVOeg */
/* IE / Edge support with SVG ► https://codepen.io/Rafiozoo/pen/MQBZbd */
IMG {
  width: 100%;
  display: block;
}

.nav-item {
  padding: 25px;
  font-size: 30px;
}

.item IMG {
  visibility: visible;
}

.container-hc {
  margin: 2rem auto;
  padding: 0.5rem 0 2.4rem;
  /* 	background-color: gold; */
  text-align: center;
  max-width: 62rem;
}

.item {
  width: 10rem;
  height: 10rem;
  position: relative;
  /* Default - simple fallback when no CSS Grid support */
  display: inline-block;
  margin: 0.4rem;
}

  .item::before { /* Goldenrod outline on the hexagon */
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: goldenrod;
    clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
    transform: scale(1.077);
    transition: transform 0.3s;
  }

  .item:hover::before {
    transform: scale(1.154);
  }

  .item A {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* 	background-image: See JS. */
    background-size: cover;
    background-position: center;
    clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
  }

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 75px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: center;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 700px;
  max-height: 250px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@supports (display: grid) {

  @media (min-width: 17rem) {
    .container-hc {
      display: grid;
      max-width: 15rem;
      grid-template-columns: repeat(3, 5rem);
      align-content: center
    }

    .item {
      grid-column: span 2;
      margin: 0; /* reset */
      margin-bottom: -1.4rem; /* shifting up the items in the next row */
    }

      .item:nth-child(even) {
        grid-column: 2
      }
  }

  @media (min-width: 22rem) {
    .container-hc {
      max-width: 20rem;
      grid-template-columns: repeat(4, 5rem);
    }

    .item:nth-child(3n+1) {
      grid-column: 1
    }

    .item:nth-child(3n+2) {
      grid-column: 3
    }

    .item:nth-child(3n+0) {
      grid-column: 2
    }
  }

  @media (min-width: 32rem) {
    .container-hc {
      max-width: 30rem;
      grid-template-columns: repeat(6, 5rem);
    }

    .item:nth-child(5n+1) {
      grid-column: 1
    }

    .item:nth-child(5n+2) {
      grid-column: 3
    }

    .item:nth-child(5n+3) {
      grid-column: 5
    }

    .item:nth-child(5n+4) {
      grid-column: 2
    }

    .item:nth-child(5n+0) {
      grid-column: 4
    }
  }

  @media (min-width: 42rem) {
    .container-hc {
      max-width: 40rem;
      grid-template-columns: repeat(8, 5rem);
    }

    .item:nth-child(7n+1) {
      grid-column: 1
    }

    .item:nth-child(7n+2) {
      grid-column: 3
    }

    .item:nth-child(7n+3) {
      grid-column: 5
    }

    .item:nth-child(7n+4) {
      grid-column: 7
    }

    .item:nth-child(7n+5) {
      grid-column: 2
    }

    .item:nth-child(7n+6) {
      grid-column: 4
    }

    .item:nth-child(7n+0) {
      grid-column: 6
    }
  }

  @media (min-width: 54rem) {
    .container-hc {
      max-width: 50rem;
      align-content: center;
      grid-template-columns: repeat(10, 5rem);
    }

    .item:nth-child(9n+1) {
      grid-column: 1
    }

    .item:nth-child(9n+2) {
      grid-column: 3
    }

    .item:nth-child(9n+3) {
      grid-column: 5
    }

    .item:nth-child(9n+4) {
      grid-column: 7
    }

    .item:nth-child(9n+5) {
      grid-column: 9
    }

    .item:nth-child(9n+6) {
      grid-column: 2
    }

    .item:nth-child(9n+7) {
      grid-column: 4
    }

    .item:nth-child(9n+8) {
      grid-column: 6
    }

    .item:nth-child(9n+0) {
      grid-column: 8
    }
  }
}
